@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}

body {
  background-color: #3c5aa6;
}

/* loading spinner animation */

.lds-ring {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b3aeae;
}

.lds-ring.modal {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* source https://loading.io/css/ */

@media (min-width: 414px) {
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }

  .modal-body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    width: 85%;
    height: 50%;
    align-items: center;
    text-align: center;
    border-radius: 15px;
  }

  .modal-body h1 {
    font-size: 16px;
  }

  .modal-body img {
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
  }

  .pokemon-type {
    list-style: none;
    display: flex;
    width: 250px;
    flex-flow: wrap row;
    gap: 5px;
    justify-content: center;
    padding: 20px 0 25px 0;
  }

  .pokemon-type li {
    margin: 0;
    width: auto;
    padding: 7px;
    background-color: yellowgreen;
    border-radius: 5px;
  }

  .left-container.mw-1024 {
    width: 100%;
  }

  .right-container.mw-1024 {
    display: none;
  }
}

/* Pokemon Type Color */

#normal {
  background-color: #a8a77a;
}

#fire {
  background-color: #ee8130;
}

#water {
  background-color: #6390f0;
  color: #fff;
}

#electric {
  background-color: #f7d02c;
}

#grass {
  background-color: #7ac74c;
}

#ice {
  background-color: #96d9d6;
}

#fighting {
  background-color: #c22e28;
  color: #fff;
}

#poison {
  background-color: #a33ea1;
  color: #fff;
}

#ground {
  background-color: #e2bf65;
}

#flying {
  background-color: #a98ff3;
}

#psychic {
  background-color: #f95587;
}

#bug {
  background-color: #a6b91a;
}

#rock {
  background-color: #b6a136;
}

#ghost {
  background-color: #735797;
}

#dragon {
  background-color: #6f35fc;
  color: #fff;
}

#dark {
  background-color: #705746;
  color: #fff;
}

#steel {
  background-color: #b7b7ce;
}

#fairy {
  background-color: #d685ad;
}

.modal-body table {
  font-size: 10px;
  text-align: left;
  border-spacing: 15px;
}

.modal-body th {
  border-spacing: 10px;
}
.nav-bar {
  color: #fff;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar h1 {
  font-size: 25px;
}

.search-bar.home [type="text"] {
  display: flex;
  width: calc(100% - 50px);
  height: 40px;
  padding-left: 25px;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid rgb(183, 183, 183);
  background-color: rgba(183, 183, 183, 0.35);
}

.search-bar.home [type="text"]::-webkit-input-placeholder {
  color: #000;
}

.filter-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 50px);
  padding-top: 25px;
  gap: 5%;
}

.filter-container li {
  width: 100%;
}

.dropdown {
  width: 100%;
  height: 30px;
  padding: 0 15px;
  font-size: 12px;
  background-color: #ffcb05;
}

.filter-container li select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 2px;
  border-radius: 2px;
}

.dropdown option {
  padding: 0;
}

.list-container {
  margin: 25px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}

.pokemon-card {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 175px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.712) 0px 3px 8px;
}

.pokemon-card h3 {
  padding-top: 20px;
}

.empty-data {
  height: 100vh;
  font-size: 48px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-card {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 113, 18, 0.925);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.712) 0px 3px 8px;
}

.pokemon-card:hover .cover-card {
  display: flex;
}

@media (min-width: 1024px) {
  .home-container {
    display: flex;
    margin: 0;
  }

  .left-container.mw-1024 {
    width: 400px;
    margin: 0;
  }

  .right-container.mw-1024 {
    position: fixed;
    left: 400px;
    width: calc(100% - 400px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
  }

  .right-container img {
    width: 250px;
    padding-bottom: 25px;
  }

  .right-container h1 {
    font-size: 26px;
    padding-bottom: 30px;
  }
  .right-container h2 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .right-container ul {
    list-style: none;
  }

  .pokemon-types {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 3%;
    width: 500px;
    margin-bottom: 35px;
  }

  .pokemon-types p {
    padding: 15px 25px;
    background-color: #3c5aa6;
    margin: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .pokemon-abilities {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 400px;
    margin-bottom: 30px;
  }

  .pokemon-abilities p {
    margin: 0;
    margin-bottom: 20px;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgba(210, 218, 206, 0.25);
    box-shadow: 0 2px 26px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  span.icon-eye_slash {
    padding: 0 0 0 10px;
    font-size: 14px;
    color: rgba(53, 53, 53, 0.5);
  }

  .pokemon-size {
    display: flex;
    justify-content: center;
    width: 350px;
    gap: 5%;
  }

  .size-card {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .size-card h3 {
    font-size: 16px;
    padding: 20px 0;
  }

  .size-card p {
    font-size: 14px;
  }

  .modal-container {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .btn-save-pokemon {
    background-color: #3c5aa6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 9px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    margin-top: 50px;
    cursor: pointer;
    border: none;
  }
}
